<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :course_name %>
  </div>

  <p>
  <div class="field">
  <%= form.label :course_organization %>
  <%= form.text_field :course_organization %>
  </div>
  </p>

  <p>
  <div class="field">
    <%= form.label "Slack workspace" %>
    <%= form.text_field :slack, :value => (SlackWorkspace.exists?(@course.slack_workspace_id) ?
             SlackWorkspace.find(@course.slack_workspace_id).name : "No workspace connected"),
            :maxlength => "25", :readonly => true %>
  </div>
  </p>

  <% if @course.persisted? %>

    <% if !@course.slack? || !@course.slack_workspace_id? %>
      <p>
      <a href=<%= "https://slack.com/oauth/authorize?scope=commands,bot&client_id=" + ENV['SLACK_CLIENT_ID'] +
                    "&state=" + String(@course.id) %>> Connect Slack workspace</a>
      </p>
    <% else %>
      <a href=<%= "https://slack.com/oauth/authorize?scope=commands,bot&client_id=" + ENV['SLACK_CLIENT_ID'] +
                     "&state=" + String(@course.id) %>> Change Slack workspace/modify authorization</a>
      <p>
      <%= link_to "Remove Slack workspace from course", course_remove_slack_workspace_path(course_id: @course.id),
                  method: :post %>
      </p>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :hidden %>
    <%= form.check_box :hidden %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
